.black-button {
    background-color: black;
    color: white;
    border-radius: 5px;
}
.black-button:hover {
    background-color: #808080;
    transition-delay: 0.5;
}

h1 {
    text-align: center;
}
table, th, td {
    margin:auto;
    text-align:center;
    padding: 10px 15px;
}
table {
    border-collapse: collapse;
}
thead {
    background-color: #e8e8e8;
}
.special {
    background-color: #e8e8e8;
}