body {
	background-color: #fff8df;
	font-family: Arial, Helvetica, sans-serif;
}

form{
	margin-right: auto;
	margin-left: auto;
	border: 1px solid rgb(225, 225, 225);
	border-radius: 5%;
	padding: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-wrap: wrap; */
	width: fit-content;
	background-color: white;
	padding: 3% 5%;
	/* font-size: x-small; */
}
.input-error {
	color: #bc1313;
	font-size: x-small;
	margin-bottom: 5%;
}
.form-group {
	margin: 2.5% 0%;
	
}
input,select {
	/* border: none; */
	/* border-collapse: collapse; */
	/* appearance: none; */
	border: 1px solid gray;
	border-radius: 5px;
	outline: none;
	padding: 2%;
	margin: 4% 0%;
	width: 100%;
	
}

input[type="radio"] {
	width: initial;
	margin-bottom: 5%;
}

input::placeholder {
	font-size: smaller;
}

select:hover,input:hover {
	background-color: #fff5cf;
}

select:focus,input:focus {
	background-color: #f3de8e;
	border-color: #d97000;
}

label {
	display: block;
	font-size: small;
	/* margin-bottom: 2%; */
}
label[for="male"], [for="female"] {
	display: inline;
}

button {
	border: none;
	border-radius: 4px;
	color: white;
	padding: 4%;
}
button[type="submit"] {
	background-color: #dd2c2c;
}
button[type="reset"] {
	background-color: #e3a73f;
}

/* select {
	width: 100%;
	border-radius: 4px;
} */