.btn-ex01 {
    background-color: black;
    color: white;
    /* border: 1px solid black; */
    border:none;
    border-collapse: collapse;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
    transition: 0.5s;
}
.btn-ex01:hover {
    background-color: #808080;
}