.bd-ex02 {
    text-align: center;
}

.tb-ex02 {
    width: 100%;
    border-style: none;
    border-collapse: collapse;
}

.tb-ex02 td, .tb-ex02 th {
    border: 0.5px solid #dddddd;
    padding: 5px;
}

th, tr:nth-child(2n) {
    background-color: #f2eeee;
}