/*
    Các tỷ lệ kích thước màn hình mẫu:
        - 1/12: 8.3333%
        - 2/12: 16.6666%
        - 3/12: 25%
        - 4/12: 33.3333%
        - 5/12: 41.6666%
        - 6/12: 50%
        - 7/12: 58.3333%
        - 8/12: 66.6666%
        - 9/12: 75%
        - 10/12: 83.3333%
        - 11/12: 91.6666%
        - 12/12: 100%
*/
* {
    box-sizing: border-box;
}

.header {
    color: white;
    background-color: #064D40;
    height: 120px;
    line-height: 120px;
    padding-left: 20px;
}

.footer {
    color: white;
    background-color: #465a64;
    font-size: small;
    text-align: center;
    clear:both;
    padding: 20px;
}

.aside {
    color: white;
    background-color: #273238;
    padding: 16px;
}

ul {
    padding: 0;
}

li {
    color: white;
    background-color: #465a64;
    list-style-type: none;
    margin: 8px;
    padding: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 4px;
}

/* .content::after {
    content: "";
    display: block;
    clear:both;
} */

div[class*="col-s-"] {
    float: left;
    padding: 10px;
    width: 100%;
}

@media (min-width: 630px) {
    .col-s-1 {
        width: 8.3333%;
    }
    .col-s-2 {
        width: 16.6666%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.3333%;
    }
    .col-s-5 {
        width: 41.6666%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.3333%;
    }
    .col-s-8 {
        width: 66.6666%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.3333%;
    }
    .col-s-11 {
        width: 91.6666%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .col-1 {
        width: 8.3333%;
    }
    .col-2 {
        width: 16.6666%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.3333%;
    }
    .col-5 {
        width: 41.6666%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.3333%;
    }
    .col-8 {
        width: 66.6666%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.3333%;
    }
    .col-11 {
        width: 91.6666%;
    }
    .col-12 {
        width: 100%;
    }
}