/* - 1/12: 8.3333%
- 2/12: 16.6666%
- 3/12: 25%
- 4/12: 33.3333%
- 5/12: 41.6666%
- 6/12: 50%
- 7/12: 58.3333%
- 8/12: 66.6666%
- 9/12: 75%
- 10/12: 83.3333%
- 11/12: 91.6666%
- 12/12: 100% */
.header {
    color: white;
    background-color: #064d40;
    height: 120px;
    line-height: 120px;
    padding-left: 20px;
}

.content {
    display: flexbox;
}
.footer {
    color: white;
    background-color: #465a64;
    height: 100px;
    line-height: 120px;
    padding-left: 20px;
}
li {
    color: white;
    background-color: #465a64;
    list-style-type: none;
    margin-bottom: 8px;
    padding: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0 , 0.2);
    border-radius: 4px;
}

ul {
    padding: 0;
}

div[class*="col-"] {
    float: left;
}

.col-2 {
    width: 16.6666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.6666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.6666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.6666%;
}

.col-12 {
    width: 100%;
}