        #list {
            display: flexbox;
        }

        .box {
            border: 1px solid rgb(201, 201, 201);
            margin-bottom: 10px;
            box-sizing: border-box;
            resize: vertical;
            transition: background-color 0.5s linear;
        }
        .box:hover {
            background-color: rgb(201, 249, 249);
        }

        .content {
            display: inline-block;
            font-size: x-large;
            vertical-align: middle;
        }

        img {
            max-inline-size: 130px;
            border-radius: 100px;
            padding: 10px;
        }

        .info {
            font-size: 150%;
            margin-left: 10px;
        }
        .name {
            font-weight: bold;
            padding-bottom: 10px;
        }

        .icon {
            margin-left: 55%;
        }

        .heart, .eclipse {
            padding: 15px;
            cursor: pointer;
            font-size: 30px;
            border-radius:50%;
            transition: background-color 1s ease;
        }
        .heart:hover, .eclipse:hover {
            background-color: rgb(227, 227, 227);
        }
        .eclipse {
            margin-left: 50px;
        }