.btn-ex01 {
    background-color: black;
    color: white;
    /* border: 1px solid black; */
    border:none;
    border-collapse: collapse;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
}
.btn-ex01:hover {
    background-color: #808080;
}
/* ===== Ex02 ===== */
.bd-ex02 {
    text-align: center;
}
.tb-ex02 {
    width: 100%;
    border-style: none;
    border-collapse: collapse;
}
.tb-ex02 td, .tb-ex02 th {
    border: 0.5px solid #dddddd;
    padding: 5px;
}
.back-ground--gray {
    background-color: #f2eeee;
}
/*  Gợi ý màu:

    + Nền body: #fff8df
    + Nút 'Register': #dd2c2c
    + Nút 'Reset': #e3a73f
    + Chữ báo lỗi (error message): #bc1313
    + nền input khi hover: #fff5cf
    + nền input khi focus: #f3de8e
    + viền input khi focus: #d97000

*/
/* ===== Ex03 ===== */
.bd-ex03 {
    margin:auto;
    width: 350px;
    background-color: gainsboro;
    border: 10px solid #fff8df;
}

.content {
    font-size: small;
    background-color: white;
    padding: 10px;
    border: 10px solid whitesmoke;
}

.form-group:hover {
    background-color: #fff5cf;
}
.form-group {
    transition: background-color 2s linear;
}

.form-control:focus,
select:focus {
    background-color: #f3de8e;
    border: 1px solid #d97000;
    outline: none;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 10px;
}
.form-control {
    display: block;
}

.input-error {
    font-size:xx-small;
    color: #bc1313;
    padding-top: 3px;
}

input[type="date"],
input[type="time"],
input[type="text"],
input[type="email"],
select {
   width: 300px;
}

input[type="range"] {
    display: block;
    width: 100%;
}
label[for="toeic"] {
    vertical-align: top;
}
button {
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
    cursor:pointer;
}

button[type="submit"] {
    background-color: #dd2c2c;
}
button[type="reset"] {
    background-color: #e3a73f;
}

/* ===== Ex04 ===== */
.ex04-form {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: x-small;
}