/** Gới ý màu
        + tiêu đề: #388e3c
        + Viền bảng: #b00c2d
        + Dòng header: #5f52ab
        + Lunch và lab: #ffefb3
        + Empty: #e0e0e0
    */
body {
    background-color: rgb(196, 196, 196);
}
h3 {
    color: #388e3c;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

table {
    background-color: white;
    border-collapse: collapse;
    border: 3px dashed #b00c2d;
    border-collapse: collapse;
    width: 100vw;
    height: 70vh;
}

td {
    text-align: center;
    font-size: 20px;
    border: 1px solid red;
}

tr td:first-child {
    font-weight: bold;
}

tr:first-child {
    font-weight: bold;
    text-transform: uppercase;
}

tr:first-child td:not(:nth-child(4)) {
    background-color: #5f52ab;
}
tr:first-child td:nth-child(4) {
    background-color: #ffefb3;
}

tr:nth-child(3) td:nth-child(2), 
tr:nth-child(6) td:nth-child(2),
tr:nth-child(7) td:nth-child(4){
    background-color: #ffefb3;
}

tr:nth-child(2) td:nth-child(4),
tr:last-child td:nth-child(2),
tr:last-child td:nth-child(3) {
    background-color: #e0e0e0;
}